.navbar {
    height: 50px;
    border-bottom: 0.5px solid rgb(202, 218, 238);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
}

.wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-search input {
        display: flex;
        padding: 11px;
        border-radius: 5px;
        border: 1px solid lightgray;

        .navbar-options {
            display: flex;
            gap: 10px;

            .navbar-options span {
                cursor: pointer;
                margin-right: 10px;

            }
        }
    }
}

/* .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
} */